header#misskey-main-header(role='banner')
	script(src='/resources/scripts/header.js')
	nav.informationCenter
		div.informationCenterContainer
			div.info
				img(src='/resources/images/kyoppie.png', role='kyoppie')
			p.p 櫻子「大室字画多いー、嫌い」向日葵「またそんな事言ってこの子は。それなら古谷になります？」
			nav.nav
				ul
					li
						h2 Misskey
						ul
							li
								a(href='/') Home
							li
								a(href='/about') About
							li
								a(href='http://syuilo.com') Blog
							li
								a(href='/dev') Developer
					li
						h2 Help
						ul
							li
								a(href='/help') Help
							li
								a(href='/syuilo') Contact
							li
								a(href='https://github.com/syuilo/Misskey/issues/new') Feedback
	div.main
		div.mainContentsContainer
			if login
				div.left
					nav
						div.mainNav
							button(role='button').misskey Misskey
							ul
								li.home: a(href='/')
									i.fa.fa-home
									| ホーム
								li.mention: a(href='/i/mention')
									i.fa.fa-at
									| メンション
								li.talk: a(href='/i/talks')
									i.fa.fa-comments
									| トーク
				div.right
					div.search(role='search')
						input(type='search', placeholder!='&#xf002; 検索')
						div.result
					div.notice
						div.dropdown
							i.fa.fa-bell
							div.dropdownContainer
								button.allDeleteButton(role='button', title='全て削除')
									i.fa.fa-trash
								div.dropdownContent
									if notices != null
										ol.notices
											each notice in notices
												li.notice(title= notice.createdAt
													data-id= notice.id)
													time(datetime= notice.createdAt)= notice.createdAt
													div.content!= notice.content
													span.appName= notice.app.name
													button.deleteButton(role='button', title='削除')
														img(src='/resources/images/notice-delete.png', alt='Delete')
									else
										p 通知はありません
					if login
						div.account
							a.screenNameAnchor(href= url + '/' + me.screenName)
								span.screenName= '@' + me.screenName
							div.dropdown
								a.iconAnchor(href= url + '/' + me.screenName)
									img.icon(src= url + '/img/icon/' + me.screenName, alt='icon')
								div.dropdownContent
									ul
										li: a(href= url + '/' + me.screenName)
											i.fa.fa-laptop
											| マイページ
										li: a(href='/i')
											i.fa.fa-user
											| マイ メニュー
										li: a(href='/i/setting')
											i.fa.fa-cog
											| 設定
										li: a(href='/logout')
											i(class='fa fa-power-off')
											| ログアウト
			else
				div.left
					nav
						div.mainNav
							button(role='button').misskey Misskey
							ul
								li.home: a(href='/')
									i.fa.fa-home
									| エントランス