div.timeline
	if posts != null && posts.length > 0
		ol.posts
			each post in posts
				li.post(title!= '#{post.createdAt}&#x0A;via #{post.app.name}'
						style= post.isReply ? 'border-color: ' + post.reply.user.color + ';' : ''
						data-id= post.id
						data-user-id= post.user.id
						data-user-color= post.user.color
						data-is-reply!= post.isReply.toString(),
						data-is-talk!= (post.moreTalk != null).toString(),
						data-is-favorited!= login ? post.isFavorited.toString() : null,
						data-is-reposted!= login ? post.isReposted.toString() : null,
						data-is-repostpost!= post.isRepostToPost.toString(),
						data-repost-by-user-id!= post.isRepostToPost ? post.repostedByUser.id : null)
					if post.moreTalk != null
						div.moreTalk
							i.fa.fa-ellipsis-v
							ol.talk
								each talkPost in post.moreTalk
									li.post
										article
											a.iconAnchor(href= url + '/' + talkPost.user.screenName + '/talk?noheader=true', title= talkPost.user.comment != null ? talkPost.user.comment : '@' + talkPost.user.screenName)
												img.icon(src=url + '/img/icon/' + talkPost.user.screenName, alt='icon')
											header
												h2
													a(href=url + '/' + talkPost.user.screenName, target='_blank')= talkPost.user.name
												span.screenName= '@' + talkPost.user.screenName
												a(href=url + '/' + talkPost.user.screenName + '/post/' + talkPost.id): time(datetime=talkPost.createdAt)= talkPost.createdAt
											div.main
												p.text!= (talkPost.isReply ? '<a href="' + url + '/post/' + talkPost.inReplyToPostId + '" class="reply"><i class="fa fa-reply"></i></a>' : '') + parseText(talkPost.text)
												if talkPost.isImageAttached
													img.image(src=url + '/img/post/' + talkPost.id, alt='image')
					if post.isRepostToPost
						div.repostInformation
							p.info
								a.iconAnchor(href=url + '/' + post.repostedByUser.screenName + '/talk?noheader=true', title= post.repostedByUser.comment != null ? post.repostedByUser.comment : '@' + post.repostedByUser.screenName)
									img.icon(src=url + '/img/icon/' + post.repostedByUser.screenName, alt='icon')
								i.fa.fa-retweet
								a.name(href=url + '/' + post.repostedByUser.screenName, target='_blank')= post.repostedByUser.name
								| によってRepost
					if post.isReply
						div.replyTo
							article
								a.iconAnchor(href=url + '/' + post.reply.user.screenName + '/talk?noheader=true', title= post.reply.user.comment != null ? post.reply.user.comment : '@' + post.reply.user.screenName)
									img.icon(src=url + '/img/icon/' + post.reply.user.screenName, alt='icon')
								header
									h2
										a(href=url + '/' + post.reply.user.screenName, target='_blank')= post.reply.user.name
									span.screenName= '@' + post.reply.user.screenName
									a(href=url + '/' + post.reply.user.screenName + '/post/' + post.reply.id): time(datetime=post.reply.createdAt)= post.reply.createdAt
								div.main
									p.text!= (post.reply.isReply ? '<a href="' + url + '/post/' + post.reply.inReplyToPostId + '" class="reply"><i class="fa fa-reply"></i></a>' : '') + parseText(post.reply.text)
									if post.reply.isImageAttached
										img.image(src=url + '/img/post/' + post.reply.id, alt='image')
					article
						a.iconAnchor(href=url + '/' + post.user.screenName + '/talk?noheader=true', title= post.user.comment != null ? post.user.comment : '@' + post.user.screenName)
							img.icon(src=url + '/img/icon/' + post.user.screenName, alt='icon')
						header
							h2
								a(href=url + '/' + post.user.screenName, target='_blank')= post.user.name
							span.screenName= '@' + post.user.screenName
							a(href=url + '/' + post.user.screenName + '/post/' + post.id): time(datetime=post.createdAt)= post.createdAt
						div.main
							p.text!= (post.isReply ? '<a href="' + url + '/post/' + post.inReplyToPostId + '" class="reply"><i class="fa fa-reply"></i></a>' : '') + parseText(post.text)
							if post.isImageAttached
								img.image(src=url + '/img/post/' + post.id, alt='image')
						footer
							if login
								div.actions
									div.repost
										button.repostButton(title= post.isReposted ? 'Repostを取り消し' : 'Repost', role='button')
											i.fa.fa-retweet
										a(href=url + '/' + post.user.screenName + '/post/' + post.id + '/reposts').count= post.repostsCount != 0 ? post.repostsCount : ''
									div.favorite
										button.favoriteButton(title= post.isFavorited ? 'お気に入り解除' : 'お気に入り', role='button')
											i.fa.fa-star
										a(href=url + '/' + post.user.screenName + '/post/' + post.id + '/favorites').count= post.favoritesCount != 0 ? post.favoritesCount : ''
					footer
						form.replyForm
							textarea(name='text')= '@' + post.user.screenName + ' '
							input(name='in_reply_to_post_id', type='hidden', value=post.id)
							input(type='submit', value='Reply')
							div.imageAttacher
								p
									i.fa.fa-picture-o
								input(name='image', type='file', accept='image/*')
		button.loadMore(role='button') Read more!