doctype html

html(lang='ja', dir='ltr')
	head
		include ../common/head
		title トーク
		link(rel='stylesheet', href='/resources/styles/page/i-talks.css')
		script(src='/resources/scripts/page/i-talks.js')
	
	body
		main(role='main')
			div#search(role='search')
				div.form
					input(type='search', placeholder!='&#xf002; ユーザーを探してトークを開始')
				div.result
			if messages != null
				ol#talks
					each message in messages
						li.talk(data-is-my-message!= (message.userId == me.id).toString(), data-is-unread!= (message.userId != me.id && !message.isReaded).toString())
							a(href= url + '/widget/talk/' + message.user.screenName)
								article
									img.icon(src=message.user.iconImageUrl, alt='icon')
									header
										h2= message.user.name
										span.screenName= '@' + message.user.screenName
										time(datetime=message.createdAt, data-display-type='relative')= message.displayCreatedAt
									p.text
										if message.userId == me.id
											span.me あなた:
										= message.text
									if message.isImageAttached
										img.image(src=message.imageUrls[0], alt='image')
			else
				p#empty-histories 履歴はありません。
