doctype html

html(lang='ja'
		dir='ltr'
		itemscope
		itemtype='http://schema.org/ProfilePage'
		data-login!= login.toString()
		data-me-id= login ? me.id : null
		data-user-id= user.id
		data-is-following!= login ? isFollowing.toString() : null)
	head
		include ../common/head
		title= user.name
		link(rel='stylesheet', href='/resources/styles/page/widget-user-profile.css?user=' + user.screenName)
		script(src='/resources/scripts/page/widget-user-profile.js')
		
	body
		main
			header
				if login
					a#talk-button(href=config.url + '/widget/talk/' + user.screenName)
						i.fa.fa-comments
				div.main
					a.icon-anchor(href=config.url + '/' + user.screenName, target='_top', rel='icon')
						img.icon(src=user.iconImageUrl, alt='icon')
					div.title
						h1.name
							a(href=config.url + '/' + user.screenName, target='_top')= user.name
							if user.isVerified
								img.verified-icon(src='/resources/common/images/verified.png', alt='verified', title='認証済み')
						div.bottom
							p.screen-name= '@' + user.screenName
				div#profile
					p#comment
						if user.comment != null && user.comment != ""
							= user.comment
						else
							span.no-comment no comment
					if user.location != null && user.location != ""
						p#location
							i.fa.fa-map-marker
							= user.location
					if user.url != null && user.url != ""
						p#website
							a(href= user.url)
								i.fa.fa-link
								= user.url
			if login
				if me.id != user.id
					div#friend-form
						if isFollowMe
							p#friend-status
								i.fa.fa-heart
								| フォローされています
						if isFollowing
							button#friend-button.following フォロー中
						else
							button#friend-button.not-following フォロー
