li.log.api-outgoing(class= done ? 'success' : 'failure')
	span.date= date
	span.course outgoing
	span.server API
	span.remote-addr= remoteAddr
	span.protocol= protocol
	span.method= method
	span.status-code= status-code
	span.path= path