doctype html

html(lang='ja', dir='ltr', data-thread-id= thread.id)
	head
		include ../common/head
		meta(name='keywords', content='Misskey')
		title= thread.title
		link(rel='stylesheet', href='/resources/styles/bbs-thread.css')
		script(src=webStreamingUrl + '/socket.io/socket.io.js')
		script(src='/resources/scripts/bbs-thread.js')
	
	body
		include ../common/header
		
		main(role='main')
			header
				div.kyoppie-container
					h1#title= thread.title
				div.yuppie-container
					ul#actions
						li.action
							button.button#watch-button(role='button', data-enable!= isWatched.toString())
								i.fa.fa-eye
								| Watch
							a.count#watch-count= thread.watchersCount
						li.action
							button.button#favorite-button(role='button', data-enable!= isFavorited.toString())
								i.fa.fa-star
								| Star
							a.count#favorites-count= thread.favoritesCount
			div#posts!= postsHtml
			if login
				div#post-form-container
					form#post-form(enctype='multipart/form-data', role='form')
						img.icon(src='/img/icon/' + me.screenName, alt='icon', title=me.comment)
						div.form
							textarea(name='text', placeholder='', role='textbox', aria-multiline)
							div.design-allow(role='presentation')
							input(type='hidden', name='thread-id', value= thread.id)
							input.ui-button(type='submit', value!='投稿 &#xf1d8;', role='button')
							ul.tag.ui-taginput
							div.image-attacher
								p
									i.fa.fa-picture-o
								input(name='image', type='file', accept='image/*')
			footer
				small (c) syuilo