doctype html

html(lang='ja', dir='ltr')
	head
		include ../common/head
		title トーク
		link(rel='stylesheet', href='/resources/styles/i-talks.css')
		script(src='/resources/scripts/i-talks.js')
	
	body
		main(role='main')
			if messages != null
				ol#talks
					each message in messages
						li.talk(data-is-my-message!= (message.userId == me.id).toString(), data-is-unread!= (message.userId != me.id && !message.isReaded).toString())
							a(href= url + '/widget/talk/' + message.user.screenName)
								article
									img.icon(src=url + '/img/icon/' + message.user.screenName, alt='icon')
									header
										h2= message.user.name
										span.screenName= '@' + message.user.screenName
										time(datetime=message.createdAt)= message.displayCreatedAt
									p.text
										if message.userId == me.id
											span.me あなた:
										= message.text
									if message.isImageAttached
										img.image(src=url + '/img/talk-message/' + message.id, alt='image')
			else
				p#empty-histories 履歴はありません。
