doctype html

html(lang='ja', dir='ltr')
	head
		include ../common/head
		title トーク
		link(rel='stylesheet', href='/resources/styles/i-talks.css')
		script(src='/resources/scripts/i-talks.js')
	
	body
		main(role='main')
			ol#talks
				each message in messages
					li.talk
						a(href= url + '/' + message.user.screenName + '/talk')
							article
								img.icon(src=url + '/img/icon/' + message.user.screenName, alt='icon')
								header
									h2= message.user.name
									span.screenName= '@' + message.user.screenName
									time(datetime=message.createdAt)= message.createdAt
								p.text= message.text
								if message.isImageAttached
									img.image(src=url + '/img/talk-message/' + message.id, alt='image')
