header#misskey-main-header(role='banner')
	script(src='/resources/scripts/header.js')
	nav.informationCenter
		ul
			li
				a(href='/bbs') 掲示板
	if config.env == 'development'
		p.env-development-info
			strong
				em 開発チャンネル
				| を利用しています。
			| このチャンネルでは開発中の機能・デザインなどをいち早く利用できますが、不具合が存在する場合があります。
			em.go-production-channel
				a(href= config.productionChannelUrl)
					i.fa.fa-angle-right
					| 安定チャンネル
	div.main
		div.mainContentsContainer
			if login
				div.left
					nav
						div.mainNav
							button(role='button').misskey Misskey
							ul
								li.home: a.ui-waves-effect(href='/')
									i.fa.fa-home
									| ホーム
								li.mention: a.ui-waves-effect(href='/i/mention')
									i.fa.fa-at
									| メンション
								li.talk: a.ui-waves-effect(href='/i/talks' onclick='return false' title='(実装中)')
									i.fa.fa-comments
									| トーク
								li.talk: a.ui-waves-effect(href='/bbs')
									i.fa.fa-users
									| 掲示板
				div.right
					div.search(role='search')
						input(type='search', placeholder!='&#xf002; 検索')
						div.result
					div.notice
						div.dropdown
							div.i
								i.fa.fa-bell
							div.dropdownContainer
								button.allDeleteButton(role='button', title='全て削除')
									i.fa.fa-trash
								div.dropdownContent
									if notices != null
										ol.notices
											each notice in notices
												li.notice(title= notice.createdAt
													data-id= notice.id)
													time(datetime= notice.createdAt)= notice.createdAt
													div.content!= notice.content
													span.appName= notice.app.name
													button.deleteButton(role='button', title='削除')
														img(src='/resources/images/notice-delete.png', alt='Delete')
									else
										p.empty 通知はありません
					if login
						div.account
							a.screenNameAnchor(href= url + '/' + me.screenName)
								span.screenName= '@' + me.screenName
							div.dropdown
								a.iconAnchor(href= url + '/' + me.screenName)
									img.icon(src= url + '/img/icon/' + me.screenName, alt='icon')
								div.dropdownContent
									ul
										li: a.ui-waves-effect(href= url + '/' + me.screenName)
											i.fa.fa-laptop
											| マイページ
										li: a.ui-waves-effect(href='/i/setting')
											i.fa.fa-cog
											| 設定
										li: a.ui-waves-effect(href='/logout')
											i(class='fa fa-power-off')
											| ログアウト
			else
				div.left
					nav
						div.mainNav
							button(role='button').misskey Misskey
							ul
								li.home: a(href='/')
									i.fa.fa-home
									| エントランス
