doctype html

html(lang='ja', dir='ltr', itemscope, itemtype='https://schema.org/WebPage')
	head(prefix='og: http://ogp.me/ns#')
		include templates/head
		meta(name='description', content='思い出した時に来るくらいが丁度いい、ゆるいSNS「Misskey」！')
		meta(name='keywords', content='Misskey')
		meta(property='og:title', content='Misskey')
		meta(property='og:type', content='website')
		meta(property='og:description', content='Misskeyは開発中のゆるいSNSです。')
		meta(property='og:url', content=url)
		meta(property='og:image', content='')
		meta(property='og:site_name', content='Misskey')
		title Misskey
		link(rel='stylesheet', href='/resources/styles/entrance.css')
		script(src='/resources/scripts/entrance.js')
	
	body
		div.github-forkMe.
			<a href="https://github.com/syuilo/Misskey"><img style="position: absolute; top: 0; right: 0; z-index: 1; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
		main
			div#mainContainer
				h1 Misskey
				form#loginForm(action='/login', method='post')
					p: strong たぶん4月中旬ごろに使えるようになります
					label
						input#id(name='screen_name'
							type='text'
							pattern='^[0-9A-Za-z_]+$'
							placeholder='ユーザー名'
							autocomplete='off'
							autofocus
							required)
						p.caption ユーザー名
					label
						input(name='password'
							type='password'
							placeholder='パスワード'
							autocomplete='off'
							required)
						p.caption パスワード
					input(type='submit', value='Login')
				button#new 新しくアカウントを作成する
			
			div#registerForm
				progress(max=7, value=0)
				form
					div.slide.user-name
						label
							h2.title ユーザー名
							p.caption
								| Misskey内のID。(半角英数字)
							div.content
								input.user-name-input.ui-inputText(name='screen_name', type='text', pattern='^[a-zA-Z0-9_]+$', required)
						div.nav
							button.cancel(type='button') キャンセル
							button.next(type='button', disabled) 次！
					div.slide.nickname
						label
							h2.title ニックネーム
							p.caption
								| あなたのニックネーム。
							div.content
								input.nickname-input.ui-inputText(name='name', type='text', required)
						div.nav
							button.back(type='button') 戻る
							button.next(type='button', disabled) 次！
					div.slide.password
						label
							h2.title パスワード
							p.caption
								| 8文字以上の強固なパスワード。
							div.content
								input.password-input.ui-inputPassword(name='password', type='password', required)
						div.nav
							button.back(type='button') 戻る
							button.next(type='button', disabled) 次！
					div.slide.password-retype
						label
							h2.title パスワード(再入力)
							p.caption
								| 確認のため、もう一度同じパスワードを入力してください。
							div.content
								input.password-retype-input.ui-inputPassword(name='retype_password', type='password', required)
						div.nav
							button.back(type='button') 戻る
							button.next(type='button', disabled) 次！
					div.slide.user-color
						label
							h2.title ユーザーカラー
							p.caption
								| あなたのイメージカラー。
							div.content
								input.user-color-input.ui-inputColor(name='color', type='color', required)
						div.nav
							button.back(type='button') 戻る
							button.next(type='button', disabled) 決定！
					div.slide.confirm
						div.nav
							button.back(type='button') 戻る
							input.ui-inputSubmit(type='submit', value='アカウントを作成する')
