doctype html

html(lang='ja', dir='ltr', itemscope, itemtype='https://schema.org/WebPage')
	head(prefix='og: http://ogp.me/ns#')
		include templates/head
		meta(name='description', content='思い出した時に来るくらいが丁度いい、ゆるいSNS「Misskey」！')
		meta(name='keywords', content='Misskey')
		meta(property='og:title', content='Misskey')
		meta(property='og:type', content='website')
		meta(property='og:description', content='Misskeyは開発中のゆるいSNSです。')
		meta(property='og:url', content=url)
		meta(property='og:image', content='')
		meta(property='og:site_name', content='Misskey')
		title Misskey
		link(rel='stylesheet', href='/resources/styles/entrance.css')
		script(src='/resources/scripts/entrance.js')
	
	body
		div.github-forkMe.
			<a href="https://github.com/syuilo/Misskey"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
		main
			h1 Misskey
			form#loginForm(action='/login', method='post')
				input#id(name='screen_name'
					type='text'
					pattern='^[0-9A-Za-z_]+$'
					placeholder='ユーザー名'
					autocomplete='off'
					autofocus
					required)
				input(name='password'
					type='password'
					placeholder='パスワード'
					autocomplete='off'
					required)
				input(type='submit', value='Login')
			a(href='/new') 新しくアカウントを作成する
