doctype html

html(lang='ja', dir='ltr')
	head
		meta(charset='utf-8')
		meta(name='description', content='ママに咲いたカーネーション')
		meta(name='keywords', content='Misskey')
		meta(name='theme-color', content='#831c86')
		title Misskey ホーム
		link(rel='shortcut icon', href='/favicon.icon')
		link(rel='stylesheet', href='/resources/styles/ui.css')
		link(rel='stylesheet', href='/resources/styles/home.css')
		link(rel='stylesheet', href='/resources/styles/timeline.css')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
		script(src='/config')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
		script(src=apiUrl + ':1207/socket.io/socket.io.js')
		script(src='/resources/common/timeline.js')
		script(src='/resources/scripts/home.js')
		
	body
		nav
			div#me
				img#meIcon(src=url + '/img/icon/' + me.screenName, alt='icon')
				span#meName(contenteditable)= me.name
				span#meScreenName= me.screenName
				p#meComment(contenteditable)= me.comment
			table#me-status
				tr
					th 投稿
					td: a#me-postsCount(href=url + me.screenName)= 'n'
				tr
					th フォロー
					td: a#me-followingsCount(href=url + me.screenName + '/following')= 'n'
				tr
					th フォロワー
					td: a#me-followersCount(href=url + me.screenName + '/followers')= 'n'
			ul
				li: a(href=url + '/i') マイ メニュー
				li: a(href=url + '/i/setting') 設定
		
		main
			div#timeline
				form#postForm(action=apiUrl + '/post/create', method='post', enctype='multipart/form-data')
					textarea(name='text', placeholder='What\'s up?')
					input(type='submit', value='Update')
					div.image
						p
							i(class='fa fa-picture-o')
						input(name='image', type='file')
					
				div!= timelineHtml
