extends ./layouts/home

block title
	title Talks

block assets
	link(rel='stylesheet', href='/resources/styles/i-talks.css')

block content
	h1
		i.fa.fa-comments
		| Talks
	ol#talks
		each recentMessage in recentMessages
			li.talk
				a(href= url + '/' + recentMessage.user.screenName + '/talk')
					article
						img.icon(src=url + '/img/icon/' + recentMessage.user.screenName, alt='icon')
						header
							h2= recentMessage.user.name
							span.screenName= '@' + recentMessage.user.screenName
							time(datetime=recentMessage.createdAt)= recentMessage.createdAt
						p.text= recentMessage.text
						if recentMessage.isImageAttached
							img.image(src=url + '/img/talk-message/' + recentMessage.id, alt='image')
