doctype html

html(lang='ja', dir='ltr')
	head
		include templates/head
		meta(name='description', content='Misskey 画像')
		meta(name='keywords', content='Misskey')
		if author != null
			title= author.name + 'の投稿画像 (' + width + 'x' + height + ')'
		else
			title= fileName + ' (' + width + 'x' + height + ')'
		link(rel='stylesheet', href='/resources/styles/image.css')
	
	body
		include templates/header
		
		main(role='main')
			header
				h1#title
					if author != null
						div#author
							img.icon(src='/img/icon/' + author.screenName, alt='icon')
							a.name(href='/' + author.screenName)= author.name
						| が投稿
					else
						= fileName
			img#image(src=imageUrl, alt='image')
			a#download(href=imageUrl, download=fileName)
				i.fa.fa-download
				| 画像をダウンロード
			div#details
				dl
					dt サイズ
					dd= width + 'px x ' + height + 'px'