doctype html

html(lang='ja', dir='ltr')
	head
		include templates/head
		meta(name='keywords', content='Misskey')
		title= user.name + ' さんの投稿'
		link(rel='stylesheet', href='/resources/styles/ui.css')
		link(rel='stylesheet', href='/resources/styles/post.css')

	body
		main(role='main')
			h1= user.name + ' さんの投稿'
			ol
				- for(var i = 0; i < beforeTalks.length; i++) {
					li
						article
							header
								h2
									a(href='#')= beforeTalks[i].user.name
							p= beforeTalks[i].text
				- }
			article(role='article')
				header(role='contentinfo')
					h1= user.name
				p= post.text
