doctype html

html(lang='ja', dir='ltr', data-me-id= me.id, data-otherparty-id= otherparty.id)
	head
		include templates/head
		title= 'トーク: ' + otherparty.name
		link(rel='stylesheet', href='/resources/styles/user-talk.css')
		script(src=apiUrl + ':1207/socket.io/socket.io.js')
		script(src='/resources/scripts/user-talk.js')
		
	body
		if !noHeader
			include templates/header
		main
			div#timeline
				div.timelineContainer
					div.timelineMain
						div.talkStream#stream
							if messages == null || messages.length == 0
								p#emptyStream
									i.fa.fa-info-circle
									| このユーザーとまだ会話したことがありませんっ
									br
									a(href='http://syuilo.com/447', target='_blank') 使い方を見る
							ol.messages
								each message in messages
									li(class= 'message ' + (message.userId == me.id ? 'me' : 'otherparty')
											title!= '#{message.createdAt}&#x0A;via #{message.app.name}'
											data-id= message.id
											data-is-deleted!= message.isDeleted.toString()
											data-userId= message.user.id
											data-userColor= message.user.color)
										article
											a.iconAnchor(href= url + '/' + message.user.screenName, title= message.user.comment)
												img.icon(src=url + '/img/icon/' + message.user.screenName, alt='icon')
											div.contentContainer
												if !message.isDeleted
													button.deleteButton
														img(src='/resources/images/destroy.png', alt='Delete')
												if !message.isDeleted
													div.content
														p.text!= parseText(message.text)
														if message.isImageAttached
															img.image(src=url + '/img/talk-message/' + message.id, alt='image')
												else
													p.isDeleted このメッセージは削除されました
												time(datetime=message.createdAt)= message.createdAt
							if !followingMe
								p#noFollowingMe
									i.fa.fa-exclamation-circle
									| このユーザーからフォローされていないためメッセージを送れませんっ！
				if followingMe
					div#postFormContainer
						form#postForm(enctype='multipart/form-data')
							textarea(name='text', placeholder='Message...')
							input(name='otherparty_id', type='hidden', value=otherparty.id)
							input.fa.fa-paper-plane(type='submit', value!='&#xf1d8;', title='メッセージを送信')
							div.imageAttacher(title='メッセージに画像を添付')
								p
									i(class='fa fa-picture-o')
								input(name='image', type='file', accept='image/*')
