extends ./layouts/user

block title
	title= user.name

block content
	if page == 'home'
		section#bioSection
			h2 自己紹介
			div#bio!= bio
	if page == 'followings'
		section#followingsSection
			h2 Followings
			div.usersList
				ol
					each user in followings
						li(data-user-verified!= post.reply.user.isPremium.toString())
							a(href= '/' + user.screenName)
								img.icon(src='/img/icon/' + user.screenName, alt='icon')
							h2
								a(href='/' + user.screenName)= user.name
								span.screenName= '@' + user.screenName
							if user.comment != null
								p.comment= user.comment
	if page == 'followers'
		section#followersSection
			h2 Followers
			div.usersList
				ol
					each user in followers
						li(data-user-verified!= post.reply.user.isPremium.toString())
							a(href= '/' + user.screenName)
								img.icon(src='/img/icon/' + user.screenName, alt='icon')
							h2
								a(href='/' + user.screenName)= user.name
								span.screenName= '@' + user.screenName
							if user.comment != null
								p.comment= user.comment