extends ./layouts/user

block title
	title= user.name

block content
	if page == 'home'
		div#bio!= content
	if page == 'followings' || page == 'followers'
		div.usersList
			ol
				each user in content
					li
						a(href= '/' + user.screenName)
							img.icon(src='/img/icon/' + user.screenName, alt='icon')
						h2
							a(href='/' + user.screenName)= user.name
							span.screenName= '@' + user.screenName
						if user.comment != null
							p.comment= user.comment
