extends ./layouts/user

block title
	title= user.name

block content
	if page == 'home'
		div#bio= user.bio
	if page == 'followings' || page == 'followers'
		div.usersList
			ol
				each user in content
					li
						a(href= '/' + user.screenName)
							img.icon(src='/img/icon/' + user.screenName, alt='icon')
						h2
							a(href='/' + user.screenName)= user.name
							span.screenName= '@' + user.screenName
						p.comment= user.comment
