a.status.article(
		href                    = config.url + '/' + status.user.screenName + '/status/' + status.id
		class                   = status.isRepostToStatus ? 'repost' : 'normal'
		lang                    = status.user.lang
		title                   = status.displayCreatedAt
		itemscope
		itemtype                = 'http://schema.org/BlogPosting'
		data-status-url         = config.url + '/' + status.user.screenName + '/status/' + status.id
		data-status-id          = status.id
		data-repost-source-id   = status.isRepostToStatus ? status.source.id : null
		data-id                 = status.id
		data-created-at         = status.createdAt
		data-cursor             = status.cursor
		data-timeline-cursor    = status.isRepostToStatus ? status.source.cursor : status.cursor
		data-repost-cursor      = status.isRepostToStatus ? status.cursor : null
		data-source-id          = status.isRepostToStatus ? status.id : null
		data-text               = status.text
		data-user-id            = status.user.id
		data-user-screen-name   = status.user.screenName
		data-user-name          = status.user.name
		data-user-color         = status.user.color
		data-user-verified     != status.user.isVerified.toString()
		data-is-reply          != status.isReply.toString()
		data-is-talk           != (status.isReply && status.isTalk).toString()
		data-is-favorited      != login ? status.isFavorited.toString() : null
		data-is-reposted       != login ? status.isReposted.toString() : null
		data-is-repostpost     != status.isRepostToStatus.toString()
		data-repost-by-user-id != status.isRepostToStatus ? status.repostedByUser.id : null)
	article(role='article')
		div.article-main(style= status.isReply ? 'border-color: ' + status.replySource.user.color + ';' : '')
			if status.isRepostToStatus
				div.repost-information
					p.info
						div.icon-anchor
							img.icon(src=config.url + '/img/icon/' + status.repostedByUser.screenName, alt='icon')
						i.fa.fa-retweet
						span.name= status.repostedByUser.name
						| によってRepost
			if status.isReply
				div.reply-source(title!= '#{status.replySource.createdAt}&#x0A;'
					data-id= status.replySource.id
					data-user-id= status.replySource.user.id
					data-user-color= status.replySource.user.color
					data-user-verified!= status.replySource.user.isVerified.toString())
					article
						div.icon-anchor
							img.icon(src=config.url + '/img/icon/' + status.replySource.user.screenName, alt='icon')
						header
							if status.replySource.user.isVerified
								img.verified-icon(src='/resources/images/verified.png', alt='verified', title='認証済み')
							h2= status.replySource.user.name
							span.screen-name= '@' + status.replySource.user.screenName
							time(datetime=status.replySource.createdAt, pubdate, data-display-type='relative')= status.replySource.createdAt
						div.main
							div.text
								p!= (status.replySource.isReply ? '<a href="' + config.url + '/status/' + status.replySource.inReplyToStatusId + '" class="reply"><i class="fa fa-reply"></i></a>' : '') + textParser(status.replySource.text)
							if status.replySource.isImageAttached
								img.image(src=config.url + '/img/status/' + status.replySource.id, alt='image')
			div.main
				div.icon-anchor
					img.icon(src=config.url + '/img/icon/' + status.user.screenName, alt='icon')
				header.header
					div.author(itemprop='author')
						if status.user.isVerified
							img.verified-icon(src='/resources/images/verified.png', alt='verified', title='認証済み')
						h2
							span.user-name= status.user.name
						span.screen-name= '@' + status.user.screenName
					time(datetime=status.createdAt, itemprop='dateCreated', pubdate, data-display-type='relative')= status.createdAt
				div.content(itemprop='articleBody')
					div.text
						p!= (status.isReply ? '<a href="' + config.url + '/status/' + status.inReplyToStatusId + '" class="reply"><i class="fa fa-reply"></i></a>' : '') + textParser(status.text)
					div.tag
						if status.tag != null
							ol(itemprop='keywords')
								each tag in status.tag
									li= tag
					if status.isImageAttached
						img.image(src=config.url + '/img/status/' + status.id, alt='image', itemprop='image')
				aside.footer
					if login
						div.actions
							div.repost
								button.repost-button(title= status.isReposted ? 'Repostを取り消し' : 'Repost', role='button')
									i.fa.fa-retweet
								span.count= status.repostsCount != 0 ? status.repostsCount : ''
							div.favorite
								button.favorite-button(title= status.isFavorited ? 'お気に入り解除' : 'お気に入り', role='button')
									i.fa.fa-star
								span.count= status.favoritesCount != 0 ? status.favoritesCount : ''
