li.notice(
		class= notice.type
		data-id= notice.id
		data-cursor= notice.cursor
		data-notice-type= notice.type)
	time(datetime=notice.createdAt, data-display-type='relative')= notice.createdAt
	div.main
		case notice.type
			when 'self-notice'
				p= notice.content.text
			when 'application'
				a.icon-anchor(href='/app/' + notice.app.screenName, title= notice.app.description, rel='icon')
					img.icon(src=notice.app.iconImageUrl, alt='icon')
				div.text
					p
						i.fa.fa-info-circle
						span= notice.content.text
			when 'install-app'
				a.icon-anchor(href='/app/' + notice.content.app.screenName, title= notice.content.app.description, rel='icon')
					img.icon(src=notice.content.app.iconImageUrl, alt='icon')
				div.text
					p
						i.fa.fa-plug
						| アプリがインストールされました:
						br
						a(href= '/app/' + notice.content.app.screenId)= notice.content.app.name
			when 'uninstall-app'
				a.icon-anchor(href='/app/' + notice.content.app.screenName, title= notice.content.app.description, rel='icon')
					img.icon(src=notice.content.app.iconImageUrl, alt='icon')
				div.text
					p
						i.fa.fa-ban
						| アプリがアンインストールされました:
						br
						a(href= '/app/' + notice.content.app.screenId)= notice.content.app.name
			when 'follow'
				a.icon-anchor(href='/' + notice.content.user.screenName, title= notice.content.user.comment != null ? notice.content.user.comment : '@' + notice.content.user.screenName, rel='icon')
					img.icon(src=notice.content.user.iconImageUrl, alt='icon')
				div.text
					p
						i.fa.fa-user-plus
						a(href= '/' + notice.content.user.screenName)= notice.content.user.name
			when 'status-repost'
				a.icon-anchor(href='/' + notice.content.user.screenName, title= notice.content.user.comment != null ? notice.content.user.comment : '@' + notice.content.user.screenName, rel='icon')
					img.icon(src=notice.content.user.iconImageUrl, alt='icon')
				div.text
					p
						i.fa.fa-retweet
						a(href= '/' + notice.content.user.screenName)= notice.content.user.name
					a.status-preview(href= '/' + me.screenName + '/status/' + notice.content.status.id)= notice.content.status.text
			when 'status-favorite'
				a.icon-anchor(href='/' + notice.content.user.screenName, title= notice.content.user.comment != null ? notice.content.user.comment : '@' + notice.content.user.screenName, rel='icon')
					img.icon(src=notice.content.user.iconImageUrl, alt='icon')
				div.text
					p
						i.fa.fa-star
						a(href= '/' + notice.content.user.screenName)= notice.content.user.name
					a.status-preview(href= '/' + me.screenName + '/status/' + notice.content.status.id)= notice.content.status.text
			when 'bbs-thread-post'
				a.icon-anchor(href='/' + notice.content.user.screenName, title= notice.content.user.comment != null ? notice.content.user.comment : '@' + notice.content.user.screenName, rel='icon')
					img.icon(src=notice.content.user.iconImageUrl, alt='icon')
				div.text
					p
						i.fa.fa-comment
						a(href= '/bbs/thread/' + notice.content.thread.id)= notice.content.thread.title
					a.post-preview(href= '/bbs/thread/' + notice.content.thread.id + '#post-' + notice.content.post.id)= notice.content.post.text
