div(class= 'message ' + (message.userId == me.id ? 'me' : 'otherparty')
		title= message.createdAt
		data-id= message.id
		data-cursor= message.cursor
		data-is-edited!= message.isEdited.toString()
		data-is-readed!= message.isReaded.toString()
		data-is-deleted!= message.isDeleted.toString()
		data-user-id= message.user.id
		data-user-color= message.user.color)
	article
		a.icon-anchor(href= config.url + '/' + message.user.screenName, title= message.user.comment)
			img.icon(src= config.url + '/img/icon/' + message.user.screenName, alt='icon')
		div.content-container
			if !message.isDeleted && (message.userId == me.id)
				if message.isReaded
					p.readed 既読
				button.delete-button(role='button', title='メッセージを削除')
					img(src='/resources/images/destroy.png', alt='Delete')
			div.content
				if !message.isDeleted
					p.text!= textParser(message.text)
					if message.isImageAttached
						img.image(src= config.url + '/img/talk-message/' + message.id, alt='image')
				else
					p.isDeleted このメッセージは削除されました
			footer
				time(datetime= message.createdAt, data-display-type='relative')= message.createdAt
				if message.isEdited
					i.fa.fa-pencil.is-edited