- var isMe = login && me.id == user.id

doctype html

html(lang='ja'
	dir='ltr'
	itemscope
	itemtype='http://schema.org/ProfilePage'
	data-user-id= user.id
	data-is-following!= login ? isFollowing.toString() : null
	data-is-me!= isMe.toString())
	head(prefix='og: http://ogp.me/ns#')
		include ../common/head
		meta(name='robots', content='all')
		meta(name='description', content= user.comment != null ? user.comment : (user.name + 'さんのMisskeyプロフィール'))
		meta(name='keywords', content='Misskey,' + user.screenName)
		meta(property='og:title', content=user.name)
		meta(property='og:type', content='article')
		meta(property='og:description', content=user.name + 'さんのMisskeyプロフィール')
		meta(property='og:url', content=url + '/' + user.screenName)
		meta(property='og:image', content=url + '/img/icon/' + user.screenName)
		meta(property='og:site_name', content='Misskey')
		meta(property='twitter:card', content='summary')
		meta(property='twitter:site', content='@syuilo')
		meta(property='twitter:title', content=user.name + 'さんのMisskeyプロフィール')
		meta(property='twitter:description', content= user.comment != null ? user.comment : (user.name + 'さんのMisskeyプロフィール'))
		meta(property='twitter:image', content=url + '/img/icon/' + user.screenName)
		meta(property='twitter:url', content=url + '/' + user.screenName)
		block title
		link(rel='stylesheet', href='/resources/styles/user.css?user=' + user.screenName)
		link(rel='stylesheet', href='/resources/styles/theme/user.css?user=' + user.screenName)
		link(rel='stylesheet', href='/resources/styles/jquery.Jcrop.min.css')
		script
			include ../../resources/scripts/lib/jquery-ui.min.js
		script(src='/resources/scripts/lib/jquery.Jcrop.min.js')
		script(src='/resources/scripts/user.js')
	
	body
		include ../common/header
		
		div#icon-edit-form-back
		form#icon-edit-form
			h1
				i.fa.fa-picture-o
				| アイコンを編集
			div.main
				label.image
					img.preview(src='/img/icon/' + user.screenName, alt='icon', itemprop='image')
					input(name='image', type='file', accept='image/*')
				progress(form='icon-edit-form')
				input.submit-button.ui-button(type='submit', value!='更新 &#xf1d8;')

		main(role='main')
			header(role='banner')
				div#header-data
					div.bottom
						div.main
							div.names-area
								h1#name-area
									if user.isVerified
										img.verified-icon(src='/resources/images/verified.png', alt='verified', title='認証済み')
									span#name(itemprop='name')= user.name
								span#screen-name(itemprop='alternateName')= '@' + user.screenName
							table.count-table
								tr
									th 投稿
									th お気に入り
									th フォロー
									th フォロワー
								tr
									td: a(href='/' + user.screenName)= user.statusesCount
									td: a(href='/' + user.screenName + '/status-favorites')= user.statusFavoritesCount
									td: a(href='/' + user.screenName + '/followings')= user.followingsCount
									td: a(href='/' + user.screenName + '/followers')= user.followersCount
				nav#header-nav(role='navigation')
					div.main
						div#icon-area
							a.icon-anchor
								img#icon(src='/img/icon/' + user.screenName, alt='icon', itemprop='image')
							div.contents
								if user.comment != ""
									p#comment= user.comment
								p#location= user.location
								a#website-url(href= user.url)= user.url
						ul#main-nav
							li(class= page == 'home' ? 'active' : '')
								a(href='/' + user.screenName)
									i.fa.fa-comment
									| タイムライン
							li(class= page == 'profile' ? 'active' : '')
								a(href='/' + user.screenName + '/profile')
									i.fa.fa-newspaper-o
									| プロフィール
							li(class= page == 'followings' ? 'active' : '')
								a(href='/' + user.screenName + '/followings')
									i.fa.fa-heart
									| フォロー
							li(class= page == 'followers' ? 'active' : '')
								a(href='/' + user.screenName + '/followers')
									i.fa.fa-users
									| フォロワー
			div#contents
				div#main-content
					block content
				div#side-content
					if login
							if me.id != user.id
								if isFollowMe
									p#friend-status フォローされています
					if login
						if me.id != user.id
							if isFollowing
								button#follow-button.following フォロー中
							else
								button#follow-button.notFollowing フォロー
