doctype html

html(lang='ja', dir='ltr')
	head
		include ../common/head
		title= app.name
		link(rel='stylesheet', href='/resources/styles/cropper.min.css')
		link(rel='stylesheet', href='/resources/styles/app-mng.css')
		script(src='/resources/scripts/lib/syuiloui.js')
		script(src='/resources/scripts/lib/cropper.min.js')
		script(src='/resources/scripts/app-mng.js')
	
	body
		include ../common/header
		
		main(role='main')
			header
				img#icon(src=app.iconImageUrl, alt='icon')
				h1#name= app.name
			div.main
				nav#nav
					ul
						li: a(href='#dashboard')
							i.fa.fa-dashboard
							| Dashboard
						li: a(href='#settings')
							i.fa.fa-cogs
							| Settings
						li: a(href='#app-key')
							i.fa.fa-key
							| App Key
						li: a(href='#app-icon-edit')
							i.fa.fa-picture-o
							| Icon
						li: a(href='#dangerzone')
							i.fa.fa-exclamation-triangle
							| Danger Zone
				div#content
					div#dashboard
						div.app-screen-id
							dt ID
							dd= app.screenId
					div#settings
						form
							label
								h2
									i.required *
									| Name
								input.ui-input-text(name='name', type='text', required, value=app.name, placeholder=app.name)
								p.caption アプリケーション名。
							label
								h2
									i.required *
									| ID
								input.ui-input-text(name='id', type='text', pattern='^[a-zA-Z0-9\-]+$', required, value=app.screenId, placeholder=app.screenId)
								p.caption アプリケーションID。半角英数字、ハイフンで構成してください。
							label
								h2
									i.required *
									| Description
								input.ui-input-text(name='description', type='text', required, value=app.description, placeholder=app.description)
								p.caption アプリケーションの説明。
							label
								h2
									| Callback URL (Optional)
								input.ui-input-text(name='callback-url', type='url', value=app.callbackUrl, placeholder=app.callbackUrl)
								p.caption 認証時のコールバックURL。このアプリケーションが、Webアプリケーションでない場合は省略してください。
							button(type='submit')
								i.fa.fa-check
								| Update
					div#app-key
						div.key
							div.field
								input.ui-input-text(type='text', value=app.appKey, readonly)
								i.ico.fa.fa-key
						div.regenerate
							button.regenerate-button
								i.fa.fa-ban
								| Regenerate
							p App Keyを再生成すると、今までに発行されたUser Keyはすべて無効になります。
					div#app-icon-edit
						form
							div.preview
								img.image(src=app.iconImageUrl, alt='icon')
							label.image
								input(name='image', type='file', accept='image/*')
							div.progress
								p.status
								progress(form='icon-edit-form', value='0')
							input(type='hidden', name='trim-x')
							input(type='hidden', name='trim-y')
							input(type='hidden', name='trim-w')
							input(type='hidden', name='trim-h')
							input(type='hidden', name='app-id', value=app.id)
							button(type='submit')
								i.fa.fa-check
								| Update
					div#dangerzone
						